name: java-security-ci

on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string

jobs:
  develop-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: temurin

      - name: Build
        run: ./gradlew clean build
